<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scan ID</title>
    <style>
        body, header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        video, canvas, img {
            display: none;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
</head>
<body>
    <header>
        <h1>ID Verification</h1>
    </header>
    <main>
        <div id="qrcode"></div>
        <video id="video" width="640" height="480" autoplay></video>
        <canvas id="canvas" width="640" height="480"></canvas>
        <img id="finalImage" src="" alt="Final Image"/>
    </main>
    
    <script>
        function isMobile() {
            return /Mobi|Android/i.test(navigator.userAgent);
        }

        if (isMobile()) {
            // TODO
        } else {
            const qrcode = new QRCode("qrcode", window.location.href);
        }
    </script>
</body>
</html>